*.bak
*.bak*

/scratch/

/uploads/*
!/uploads/.gitkeep
!/uploads/layout/
uploads/layout/*
!/uploads/layout/.gitkeep
!/uploads/productos/
uploads/productos/*
!/uploads/productos/.gitkeep
!/uploads/solicitudes/
uploads/solicitudes/*
!/uploads/solicitudes/.gitkeep
!/uploads/tiendas/
uploads/tiendas/*
!/uploads/tiendas/.gitkeep
api/config/db.php
